# [RECIPE CONFIG: FastAPI Web Microservice]
IMAGE_NAME="container-craft/fastapi-app"
IMAGE_TAG="latest"

PIPELINE=(
    "base/ubuntu"
    "tools/python/install-python"
    "tools/python/deps"
    "security/non-root-user"
    "tools/python/app-runner-demo"
)