# [RECIPE CONFIG: Go Web Microservice]
IMAGE_NAME="container-craft/go-app-demo"
IMAGE_TAG="latest"

PIPELINE=(
    "base/ubuntu"
    "tools/go/install-go"
    "security/non-root-user"
    "tools/go/app-runner-demo"
)